<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf8">
    <script src="js/vue.js"></script>
    <style>
        body {
            font-family: Helvetica Neue, Arial, sans-serif;
        }
        
        polygon {
            fill: #42b983;
            opacity: .75;
        }
        
        circle {
            fill: transparent;
            stroke: #999;
        }
        
        text {
            font-family: Helvetica Neue, Arial, sans-serif;
            font-size: 10px;
            fill: #666;
        }
        
        label {
            display: inline-block;
            margin-left: 10px;
            width: 20px;
        }
        
        #raw {
            position: absolute;
            left: 300px;
            top: 0px;
        }
        
        .remove {
            margin-left: 5px;
        }
        
        table {
            border: 1px solid blue;
            position: absolute;
            top: 100px;
            left: 30%;
        }
        
        table th,
        td {
            width: 50px;
            height: 30px;
            font-weight: bold;
            background: #83a596;
        }
    </style>
</head>

<body>
    <script type="text/x-template" id="graphics-template">
        <g>
            <polygon :points="points"></polygon>
            <circle cx="100" cy="100" r="80"></circle>
            <axis-label v-for="(stat, index) in stats" :stat="stat" :key="index" :index="index" :total="stats.length">
            </axis-label>
        </g>
    </script>

    <script type="text/x-template" id="axis-template">
        <text :x="point.x" :y="point.y">{{stat.label}}</text>
    </script>

    <script type="text/x-template" id="table-template">
        <table>
            <tr>
                <th>Label</th>
                <td v-for="stat in stats">
                    {{stat.label}}
                </td>
            </tr>
            <tr>
                <th>Value</th>
                <td v-for="stat in stats">
                    {{stat.value}}
                </td>
            </tr>
        </table>
    </script>
    <div id="select-demo">
        <svg width="100%" height="250">
            <graphics :stats="statss">

            </graphics>
        </svg>
        <div v-for="(stat, index) in statss" style="width:fit-content;">
            <label>{{stat.label}}</label>
            <input type="range" v-model="stat.value" min=0 max=100>
            <label>{{stat.value}}</label>
            <button @click="remove(stat)" class="remove">X</button>
        </div>

        <form id=add>
            <input name="newlabel" v-model="newLabel">
            <button @click="add">Add a Stat</button>
        </form>

        <table-result :stats="statss">

        </table-result>
    </div>

    <!--Script for page-->
    <script src="js/graphics.js"></script>
</body>

</html>