<!DOCTYPE html>
<html>

<head>
    <meta charset="utf8">
    <script src="js/vue.js"></script>
    <link rel="stylesheet" href="style.css">
    <style>
        p {
            color: black;
            font-size: 20px;
        }
        
        .firstElement {
            width: 100%;
        }
        
        .wap {
            height: 100px;
            width: 20%;
            margin: 10px;
            background-color: antiquewhite;
        }
        
        .v-container {
            display: inline-block;
            width: auto;
        }
        
        .wap,
        p,
        .wap p {
            width: 100%;
        }
    </style>
</head>

<body>
    <script type="text/x-template" id="templateHome">
        <div class="v-container">
            <a :href="data.link" target="_blank">
                <div class="wap">
                    <p>{{data.message}}</p>
                </div>
            </a>
            <div class="firstElement"></div>
        </div>
    </script>

    <!--Main page for Vue-->
    <div id="home-pagess">
        <template-main-home :data="makeData('Click here! Go to Employer Manager!', 'second.html')"></template-main-home>
        <template-main-home :data="makeData('Xem demo hiển thị dạng cây!', 'tree.html')"></template-main-home>
        <template-main-home :data="makeData('Graphics với SVG', 'graphics.html')"></template-main-home>
        <template-main-home :data="makeData('Demo MySQL với PHP', 'querydata.php')"></template-main-home>
    </div>
    <!--Script for index-->
    <script src="js/doc.js"></script>
</body>

</html>