<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf8">
    <link rel="stylesheet" href="stylesecond.css">
    <script src="js/vue.js"></script>

</head>

<body>
    <script type="text/x-template" id="select-home">
        <div class="wapper">
            <table>
                <thead>
                    <tr>
                        <th v-for="item in columns" :class="{active: sortKey == item}" @click="sortBy(item)">{{item}} <span class="arrow" :class="sortOrder[item] > 0 ? 'asc' : 'dsc'"></span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in filterdata">
                        <td v-for="key in columns" @click="chooseItem(item['ID'])" :class="{'choose': itemChoosed == item['ID']}">
                            <p>{{item[key]}}</p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!--Area for Feature-->
            <div class="tool-bar">
                <div :class="getToggle()" @click="togglePanel(); resetInput()"></div>
                <div class="main-area" v-show="!toggleControl">
                    <div class="task-bar">
                        <button @click="addItem()">Add</button>
                        <button @click="deleteItem()">Delete</button>
                        <button @click="editItem()">Edit</button>
                        <button @click="haveAlert('Xin lỗi, cái này mới chỉ là demo Export file Excel!')">Export</button>
                    </div>
                    <div style="width: 100%;"></div>
                    <form @keyup.enter="addItem()">
                        <input v-model="inputMessage['ID']" placeholder="ID" key="message0">
                        <input v-model="inputMessage['Name']" placeholder="Name" key="message1">
                        <input v-model="inputMessage['Age']" placeholder="Age" key="message2">
                        <input v-model="inputMessage['Phone']" placeholder="Phone" key="message4">
                        <input v-model="inputMessage['Facebook']" placeholder="Facebook" key="message5">
                        <input v-model="inputMessage['Salary']" placeholder="Salary" key="message3">
                    </form>
                </div>

            </div>
            <!--Delete when have a production-->
            <div class="test">
            </div>
        </div>
    </script>
    <div style="position: fixed; top: 0px; right: 0px; height: 30px; width: auto;">
        <a href="index.html">Back to Home</a>
    </div>
    <div id="select-app">

        <form id="search" style="font-size: 20px;">
            Search <input name="query" v-model="searchQuery" style="height: 25px; font-size: 20px;">
        </form>

        <select-component :columns="gridColumns" :data="gridData" :filterkey="searchQuery">

        </select-component>
    </div>
    <!--Script for page-->
    <script src="js/main.js"></script>
</body>

</html>