/*### table */

table {
    border: 2px solid rgb(35, 21, 226);
    width: 100%;
}

table thead th {
    background-color: rgb(0, 255, 21);
    color: rgb(110, 64, 4);
    font-size: 20px;
    opacity: 0.6;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

table td,
th {
    width: 10%;
    height: 30px;
}

table td,
th p {
    word-break: break-all;
}

table td {
    background-color: rgb(243, 243, 243);
    text-align: center;
}

.arrow {
    display: inline-block;
    height: 0px;
    width: 0px;
    margin-left: 5px;
    opacity: 0.7;
    vertical-align: middle;
}

th.active {
    opacity: 1;
}

th.active .arrow {
    opacity: 1;
}

.arrow.asc {
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-bottom: 4px solid rgb(122, 80, 80);
}

.arrow.dsc {
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-top: 4px solid rgb(122, 80, 80);
}


/*### tool-bar */

.tool-bar {
    border: 1px solid rgba(255, 0, 0, 0.534);
    margin: 5px;
    width: 100%;
    height: auto;
    min-height: 30px;
}

.tool-bar div {
    display: inline-block;
}

.tool-bar .open-toggle {
    vertical-align: top;
    cursor: pointer;
    width: 0;
    height: 0;
    border-bottom: 16px solid transparent;
    border-top: 16px solid transparent;
    border-left: 16px solid red;
}

.tool-bar .close-toggle {
    vertical-align: top;
    cursor: pointer;
    width: 0px;
    height: 0px;
    border-bottom: 16px solid transparent;
    border-top: 16px solid transparent;
    border-right: 16px solid blue;
}

.tool-bar .main-area {
    margin-left: 20px;
    width: 80%;
    height: auto;
}

.tool-bar .main-area .task-bar {
    position: relative;
}

.tool-bar .main-area .task-bar button {
    cursor: pointer;
    margin-left: 10px;
    width: 80px;
    height: 30px;
    font-size: 20px;
    color: brown;
    border-radius: 5px;
    background-color: rgb(0, 255, 21);
    font-weight: bold;
}

.tool-bar .main-area form {
    width: 100%;
}

.tool-bar .main-area form input {
    margin-left: 2px;
    height: 30px;
    width: 15%;
    font-size: 25px;
    color: black;
    font-weight: 100;
}

.choose {
    background-color: bisque;
}