.text-in-carousel h5,p{
    color: rgb(255, 255, 255);
    font-size: 3vw;
}

.container-check{
    background-image: url("img/6.jpg");
    background-attachment: fixed;
}
.container-checks{
    background-image: url("img/Frame.jpg");
    background-attachment: fixed;
}
.container-check{
    background-image: url("img/6.jpg");
    background-attachment: fixed;
  }
  .header-area{
    height: auto;
    width: 100%;
    height: 100%;
    padding: 0;
  }
  .dotcheck{
    z-index: 2;
  }
  .sticky{
    background-color: rgb(74, 21, 85);
  }
.leuleu{
  z-index: 100;
}

