<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf8">
    <script src="js/vue.js"></script>
    <style>
        #select-app {
            width: 50%;
            height: auto;
        }
        
        li div,
        span {
            display: inline-block;
            margin-left: 2px;
        }
        
        li div {
            cursor: pointer;
        }
        
        .parent {
            font-weight: bold;
            color: rgb(17, 0, 255);
        }
        
        li {
            cursor: pointer;
            margin-bottom: 5px;
            margin-top: 5px;
        }
    </style>
</head>

<body>
    <script type="text/x-template" id="select-home">
        <div class="wapper">
            <li>
                <div @dblclick="makeFolder()" @click="openFolder()" :class="{'parent': isFolder}">
                    <div>{{data.name}}</div><span v-if="isFolder">[{{ isOpen? '-' : '+' }}]</span></div>
            </li>
            <ul v-show="isOpen" v-if="isFolder">
                <select-component v-for="(child, index) in data.children" :data="child" :key="index" @add-item="$emit('add-item', $event)" @make-folder="$emit('make-folder', $event)">

                </select-component>
                <li @click="$emit('add-item', data)">+</li>
            </ul>
        </div>
    </script>

    <a href="index.html" style="position:fixed; top: 0; right: 0;">Back to Home</a>
    <ul id="select-app">
        <p>Double click an item to make folder!</p>

        <select-component :data="treeData" @add-item="addItem" @make-folder="makeFolder($event)">

        </select-component>
    </ul>
    <!--Script for page-->
    <script src="js/tree.js"></script>
</body>

</html>